.dp__input {
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    background-color: rgb(194, 194, 194);
}

.dp__input_dark {
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    background: rgb(18, 18, 18);
    color: rgb(255, 119, 15);
}
